@model TecWeb.ControlAsistencia.Clase

<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Asistencia
        </th>
        <th></th>
    </tr>

@foreach (var item in TecWeb.Util.Curso.alumnos) {
    <tr>
        <td>
            @item.Nombre
        </td>
        <td>
            @if (Model.Presentes != null && Model.Presentes.Length >0 && Model.Presentes.Any(p => p.ID == item.ID))
            {
                <input type="checkbox" checked onchange="registrar(@item.ID,@TecWeb.Util.Curso.ID,@Model.Fecha.ToString("yyyyMMddHHmm"))">
            }
            else
            {
            <input type="checkbox" onchange="registrar(@item.ID,@TecWeb.Util.Curso.ID,@Model.Fecha.ToString("yyyyMMddHHmm"))">
            }
            
        </td>
    </tr>
}

</table>

<script>

    registrar=function(idPar,idCur,fecha){
        $.ajax({
            data: JSON.stringify({
                "IdPar" : idPar,
                "IdCur" : idCur,
                "Fecha" : fecha              
            }),
            url:   '/api/RegistroAPI',
            type: 'POST',
            contentType:"application/json"                      
           
        });   
    }



</script>
