@model TecWeb.Models.ListaDeAsistencia


<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered table-striped">
            <tr>
                <th style="vertical-align:middle">
                    Nombre
                </th>
                <th style="text-align:center;vertical-align:middle">
                    Asistencia
                </th>

            </tr>

            @foreach (var item in Model.Participantes)
            {
                <tr>
                    <td style="vertical-align:middle">
                        @item.Nombre
                    </td>
                    <td style="text-align:center;vertical-align:middle">
                        @if (Model.Clase.Presentes != null && Model.Clase.Presentes.Length > 0 && Model.Clase.Presentes.Any(p => p.ID == item.ID))
                        {
                            <input type="checkbox" checked onchange="registrar(@item.ID,@Model.IdCurso,@Model.Clase.Fecha.ToString("yyyyMMddHHmm"))">
                        }
                        else
                        {
                            <input type="checkbox" onchange="registrar(@item.ID,@Model.IdCurso,@Model.Clase.Fecha.ToString("yyyyMMddHHmm"))">
                        }

                    </td>
                </tr>
            }


        </table>
    </div>
</div>

<script>

    registrar=function(idPar,idCur,fecha){
        $.ajax({
            data: JSON.stringify({
                "IdPar" : idPar,
                "IdCur" : idCur,
                "Fecha" : fecha              
            }),
            url:   '/api/RegistroAPI',
            type: 'POST',
            contentType:"application/json"                      
           
        });   
    }



</script>
