@model TecWeb.Models.ListaDeAsistencia

<h1>
    <a class="glyphicon glyphicon-circle-arrow-left back-btn" aria-hidden="true" href=@Url.Action("Detalles", "Curso",new { id = Model.IdCurso})></a>
</h1>
<h2>Registro Asistencia</h2>
<div class="separator"></div>

<div>    
    <dl class="dl-horizontal">
        <dt>
            Curso
        </dt>

        <dd>
            @Model.NombreCurso
        </dd>

        <dt>
            Clase
        </dt>

        <dd>
            @Model.Clase.Titulo
        </dd>

        <dt>
            Fecha
        </dt>

        <dd>
            @Model.Clase.Fecha.ToString("dd/MM/yyyy HH:mm")
        </dd>

        <dt>
            Lista de Alumnos
        </dt>

        <dd>
            @Html.Partial("_Alumnos", Model)
        </dd>

    </dl>
</div>
