@model IEnumerable<TecWeb.ControlAsistencia.Participante>

<table class="table">
    <tr>
        <th>
            Profesor
        </th>
        <th>
            Acceso
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="vertical-align:middle">
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td style="vertical-align:middle">
            <a class="btn btn-default" href='@Url.Action("Login","Usuario", new { id=item.ID , nombre=item.Nombre})'>Iniciar Prueba</a>
        </td>
    </tr>
}

</table>
