@model IEnumerable<TecWeb.ControlAsistencia.Curso>
@{
    ViewBag.Title = "Index";
}

<h2>Cursos</h2>
<div class="separator"></div>

<div id="tabla_cursos">
    @Html.Partial("_ListaCursos", Model);
</div>
